[submodule "notes"]
	path = notes
	url = git@github.com:prog2-unimi/notes.git
[submodule "esercitazioni"]
	path = esercitazioni
	url = git@github.com:prog2-unimi/esercitazioni.git
[submodule "temi-svolti-discussione"]
	path = temi-svolti-discussione
	url = git@github.com:prog2-unimi/temi-svolti-discussione.git
